@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400&display=swap');
/*cores: #000000 #131F2F #01A5B1 #AABCD0 #FFFFFF
         segunda cores: #000000 #131F2F #3A89FF #F4F3EE #FFFFFF

        */

:root{
    --font1: 'Passion One', cursive;
    --font2:'Sriracha', cursive;
    --font3: 'Redacted Script',cursive
}
section{
    text-align: center;
}
div > div {
    width: 280px;
    height: 300px;
}
.img{
    display: inline-block;
    width: 280px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.432);
    margin: 5px;
    top: 0px;
}
.img01{
    background-image: url('../imagem/benCavalo300.jpg');
    background-position: center;
}
.img02{
    background-image: url('https://live.staticflickr.com/65535/51747396416_244834d0ae.jpg');
    background-position: center;
}

