@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400&display=swap');
/*cores: #000000 #131F2F #01A5B1 #AABCD0 #FFFFFF
         segunda cores: #000000 #131F2F #3A89FF #F4F3EE #FFFFFF

        */

:root{
    --font1: 'Passion One', cursive;
    --font2:'Sriracha', cursive;
    --font3: 'Redacted Script',cursive
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
}
header{
    display: block;
    height: 110px;
    background-color: #000000;
    text-align: center;
}
main{
    background-color: #01A5B1;
    text-align: center;
    padding-bottom: 10%;
}
header > span > h1{
    display: inline-block;
    font-family: var(--font1);
    width: 100px;
    font-size: 65px;
    color: #01A5B1;
}
header > span > p{
    font-family: var(--font1);
    display: inline;
    color: white;
}
footer{
    background-color: #000000;
    color: white;
    text-align: center;
}
.imagem{
    display: inline-block;
    margin-left: 10px;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .6s;
}
.imagem:hover .front{
    transform: rotateX(-180deg);
}
.imagem:hover .back{
    transform: rotateX(0deg);
}
.front{
    width: 100%;
    height: 100%;
    background-position: 45% 20%;
    background-size: cover;
    top: 0px; left: 0px;
    position: relative;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .6s;
    border-radius: 10px;
}
.img01{
    background-image: url('../imagem/benAcude.jpg');
}
.img02{
    background-image: url('../imagem/benCavalo.jpg');
}
.img03{
    background-image: url('../imagem/benFlor.jpg');
}
.img04{
    background-image: url('../imagem/benTrator.jpg');
}
.back{
    border-radius: 5px;
    width: 100%; height: 100%;
    position: absolute;
    top: 0px; left: 0px;
    background-color: #AABCD0;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .6s;
    color: white;
    text-align: center;
}
.back > p{
    font-family: var(--font2);
}
footer > p{
    font-family: var(--font1);
}
/*botoes*/
nav > a{
    text-decoration: none;
    padding: 10px 10px;
    background-color: #01A5B1;
    font-family: var(--font2);
    text-align: center;
}
nav{
    display: inline-block;
    text-align: center;
    padding: 10px;
}