@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400&display=swap');
/*cores: #000000 #131F2F #01A5B1 #AABCD0 #FFFFFF
         segunda cores: #000000 #131F2F #3A89FF #F4F3EE #FFFFFF

        */

:root{
    --font1: 'Passion One', cursive;
    --font2:'Sriracha', cursive;
    --font3: 'Redacted Script',cursive
}
section{
    text-align: center;
}
div > div {
    width: 280px;
    height: 300px;
}
.img{
    display: inline-block;
    width: 280px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.432);
    margin: 5px;
    top: 0px;
    border-radius: 10px;
}
.img01{
    background-image: url('https://live.staticflickr.com/65535/51747407961_ef608f45a6.jpg');
    background-position: center;
}
.img02{
    background-image: url('https://live.staticflickr.com/65535/51747396416_244834d0ae.jpg');
    background-position: center;
}
.img03{
    background-image: url('https://live.staticflickr.com/65535/51748285210_920ce20a7d.jpg');
    background-position: top center;
}
.img04{
    background-image: url('https://live.staticflickr.com/65535/51748053469_57957c02da.jpg');
}
.img05{
    background-image: url('https://live.staticflickr.com/65535/51747407951_a44031e65b_w.jpg');
}
.efeito{
    border-radius: 10px;
    transition-duration: 2s;
}
.efeito:hover{
    /*-webkit-transform: scale(1.1);
    transform: scale(1.4);*/
    height: 380px;
}

