@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Miltonian Tattoo',cursive;
    color: white;
}
.natal > h1{
    text-shadow: 0px 1px 2px black;
}
.niver{
    position: absolute;
    top: 0px;
    right: 0px;
}
.texto > p{
    color: white;
    text-shadow: 0px 1px 2px black;
    font-size: 1.5em;
}
main > section{
    text-align: center;
    justify-content: center;
}
main{
    text-align: center;
    text-justify: center;
}

.fundo{
    background-image: url('../imagem/confetti-4.gif');
    background-position: center;
}
header,nav{
    background-color: transparent;
}
header > span > p{
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px black;
}
@media only screen and (max-width: 1140px){
    .niver{
        display: none;
        top: 100px
    }
    
};

main > section > h1{
    color: white;
    display: block;
    width: 100%;
    margin-left: 100px;
}

.efeito{
    font-family: 'Miltonian Tattoo',cursive;
    text-shadow: .1px 0px 2px black;
    font-size: 2em;
    animation: types 4s steps(40) 2s normal both;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 100%;
}


@keyframes types {
    from{
        width: 0;
        margin: auto;
    }to{
        width: 100%;
        margin: auto;
    }
}
